<h1>New Cateogry</h1>

<div class="form-box">
  <%= form_for [@category] do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    
    <div class="actions">
      <%= f.submit :save %>
      or
      <%= link_to 'cancel', menus_path %>
    </div>
  <% end %>
</div>